<ul>

  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>

</ul>
  <h2>
  We played scissors!
  </h2>

  <h2>
  They played  <%= @comp_move %>!
  </h2>

  <h2>
  <%= @outcome %>
  </h2>

  <a href="/">Rules</a>
